*{
    margin:0;
    padding:0;
}

/*rgb*/
h1
{
    color:rgb(255,0,0);
    background-color:rgb(0,255,0);
}

/*HEX*/
h2{
    color:#ff0000;
    background-color:#11ffff;
}

/*HSL*/
h3
{
    color:hsl(0,100%,50%);
    background-color:hsl(120,100%,50%);
}